body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
.text-muted {
  color: #777777;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
.text-primary {
  color: #FF9800;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #FF9800;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #cc7a00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 400;
}
.regular {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.thin {
  font-weight: 100;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #FF9800;
  border-color: #FF9800;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #cc7a00;
  border-color: #c27400;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FF9800;
  border-color: #FF9800;
}
.btn-primary .badge {
  color: #FF9800;
  background-color: white;
}
.btn-secondary {
  color: white;
  background-color: #2196F3;
  border-color: #2196F3;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: white;
  background-color: #0c7cd5;
  border-color: #0b76cc;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #2196F3;
  border-color: #2196F3;
}
.btn-secondary .badge {
  color: #2196F3;
  background-color: white;
}
.btn-tertiary {
  color: white;
  background-color: #009688;
  border-color: #009688;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: white;
  background-color: #00635a;
  border-color: #005951;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #009688;
  border-color: #009688;
}
.btn-tertiary .badge {
  color: #009688;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #FF9800;
  border-color: #FF9800;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #cc7a00;
  border-color: #c27400;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #FF9800;
  border-color: #FF9800;
}
.btn-xl .badge {
  color: #FF9800;
  background-color: white;
}
#topNav.navbar-custom {
  min-height: 25px;
  background-color: #222222;
  border-color: transparent;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
}
#topNav.navbar-custom .navbar-brand {
  height: 25px;
  padding: 2.5px 15px;
  color: #FFFFFF;
  font-weight: 700;
}
#topNav.navbar-custom .navbar-brand:hover,
#topNav.navbar-custom .navbar-brand:focus,
#topNav.navbar-custom .navbar-brand:active,
#topNav.navbar-custom .navbar-brand.active {
  color: #222222;
}
#topNav.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
#topNav.navbar-custom .navbar-toggle {
  background-color: #FF9800;
  border-color: #FF9800;
  color: white;
  font-size: 12px;
}
#topNav.navbar-custom .navbar-toggle:hover,
#topNav.navbar-custom .navbar-toggle:focus {
  background-color: #FF9800;
}
#topNav.navbar-custom .nav li a {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
#topNav.navbar-custom .nav li a:hover,
#topNav.navbar-custom .nav li a:focus {
  color: #222222;
  outline: none;
}
#topNav.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #222222;
}
#topNav.navbar-custom .navbar-nav > .active > a:hover,
#topNav.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #cc7a00;
}
@media (min-width: 768px) {
  #topNav.navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  #topNav.navbar-custom .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #topNav.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  #topNav.navbar-custom.affix {
    background-color: #FF9800;
    padding: 0 0;
  }
}
#mainNav.navbar-custom {
  top: 25px;
  background-color: #222222;
  border-color: transparent;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
#mainNav.navbar-custom .navbar-brand {
  font-size: 20px;
  color: #FF9800;
  font-weight: 700;
}
#mainNav.navbar-custom .navbar-brand:hover,
#mainNav.navbar-custom .navbar-brand:focus,
#mainNav.navbar-custom .navbar-brand:active,
#mainNav.navbar-custom .navbar-brand.active {
  color: #cc7a00;
}
#mainNav.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
#mainNav.navbar-custom .navbar-toggle {
  background-color: #FF9800;
  border-color: #FF9800;
  color: white;
  font-size: 12px;
}
#mainNav.navbar-custom .navbar-toggle:hover,
#mainNav.navbar-custom .navbar-toggle:focus {
  background-color: #FF9800;
}
#mainNav.navbar-custom .nav li a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
#mainNav.navbar-custom .nav li a:hover,
#mainNav.navbar-custom .nav li a:focus {
  color: #FF9800;
  outline: none;
}
#mainNav.navbar-custom .nav li a.submenu {
  font-weight: 300;
  font-size: 14px;
}
#mainNav.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #FF9800;
}
#mainNav.navbar-custom .navbar-nav > .active > a:hover,
#mainNav.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #cc7a00;
}
@media (min-width: 768px) {
  #mainNav.navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  #mainNav.navbar-custom .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  #mainNav.navbar-custom.affix {
    background-color: #222222;
    padding: 0 0;
  }
}
#header {
  background-image: url('../img/Ile-de-la-Reunion.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
  color: white;
}
#header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
#header .intro-text .intro-lead-in {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
#header .intro-text .intro-heading {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  #header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  #header .intro-text .intro-lead-in {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  #header .intro-text .intro-heading {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 50px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#mer .portfolio-item,
#air .portfolio-item,
#montagne .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#mer .portfolio-item .portfolio-link,
#air .portfolio-item .portfolio-link,
#montagne .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#mer .portfolio-item .portfolio-link .portfolio-hover,
#air .portfolio-item .portfolio-link .portfolio-hover,
#montagne .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 152, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#mer .portfolio-item .portfolio-link .portfolio-hover:hover,
#air .portfolio-item .portfolio-link .portfolio-hover:hover,
#montagne .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#mer .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content,
#air .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content,
#montagne .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#mer .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i,
#air .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i,
#montagne .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#mer .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#air .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#montagne .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#mer .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4,
#air .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4,
#montagne .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#mer .portfolio-item .portfolio-caption,
#air .portfolio-item .portfolio-caption,
#montagne .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#mer .portfolio-item .portfolio-caption h4,
#air .portfolio-item .portfolio-caption h4,
#montagne .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#mer .portfolio-item .portfolio-caption p,
#air .portfolio-item .portfolio-caption p,
#montagne .portfolio-item .portfolio-caption p {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#mer *,
#air *,
#montagne * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.activites img {
  margin: 0 auto;
  border: 7px solid #eeeeee;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients {
  min-height: 100px;
}
section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #FF9800;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #F44336;
}
#social {
  padding: 25px 0;
  text-align: center;
}
#social span.copyright {
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
#social ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #FF9800;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #FF9800;
}
::selection {
  text-shadow: none;
  background: #FF9800;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #FF9800;
}
