// Variables

// Material Design Colors
@red: #F44336;
@pink: #E91E63;
@purple: #9C27B0;
@blue: #2196F3;
@light-blue: #03A9F4;
@cyan: #00BCD4;
@teal: #009688;
@green: #4CAF50;
@light-green: #8BC34A;
@lime: #CDDC39;
@yellow: #FFEB3B;
@amber: #FFC107;
@orange: #FF9800;
@deep-orange: #FF5722;
@brown: #795548;
@grey: #9E9E9E;
@blue-grey: #607D8B;

@black: #000000;
@white: #FFFFFF;

@theme-primary:    @orange;
@theme-secondary:    @blue;
@theme-tertiary:    @teal;
@theme-danger:     @red;
@theme-success:     @green;
@theme-success:     @orange;

@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee